.bookmark_default {
    padding-left: 15px;
}

.bookmark_h1 a {
    color: #FCA205;
    font-family: 'Song Myung', serif;
}


.bookmark_page-header {
    background-color: green;
    margin-top: 0px;
    padding: 40px 20px 20px 40px;
}

.bookmark_page-header h1, .bookmark_page-header h1 a, .bookmark_page-header h1 a:visited, .bookmark_page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.bookmark_content {

    margin-left: 40px;
}

.bookmark_h1, .bookmark_h2, .bookmark_h3, .bookmark_h4 {
    font-family: 'Song Myung', serif;
}

.bookmark_top-menu, .bookmark_top-menu:hover, .bookmark_top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.bookmark_btn {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  opacity: 1;
  font-family: 'Song Myung', serif;
  text-decoration: none;
  border-radius:28px;
  display:inline-block;

}

.bookmark_btn:hover,.bookmark_btn:active {
  background-color: #3e8e41;
  color: white;
  font-family: 'Song Myung', serif;
  text-decoration: none;
}

.bookmark_btn-update {
    background-color: #3e8e41;
    color: white;
     padding: 8px 16px;
}