{% extends 'base.html' %}

{% block title %}polls chart{% endblock %}



{% block content %}
        <polls_dafult class="polls_default">
        <div id ="container" style="margin-top:20px;"></div>
        <input type="button" value="list" onclick="location.href='/polls'" class="polls_iback">
        </polls_dafult>

        {% load static %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript">var chart_data = {{chart_data|safe}}</script>
        <script type="text/javascript">var chart_title = {{chart_title|safe}}</script>

        <script defer src="{% static 'polls/javascript.js' %}"></script>


{% endblock %}

