{% extends 'base.html' %}
{% load static %}

{% block title %}polls index{% endblock %}

{% block nav-below-content %}
{% include 'polls/polls_head.html' %}
    {% endblock %}
{% block content %}
<p></p>
    <polls_default class="polls_default">
        <p></p>
    {% if latest_question_list %}
        <ul class="polls_ul">
        {% for question in latest_question_list %}
            <li class="polls_li"><a href="{% url 'polls:detail' question.id %}" class="polls_li">{{question.question_text}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </polls_default>
{% endblock %}