<div class="blog_page-header">
</div>
<div class="blog_page-header">
    {% if user.is_authenticated %}
        <div  class="blog_top-menu">
            <a href="{% url 'blog:post_new' %}"><div class="blog_btn blog_btn-add-post">➕ Add Post</div></a>
        </div>

    {% endif %}
    <h1 class="blog_h1"><a href="{% url 'blog:post_list' %}">Blog</a></h1>
</div>

<div class="blog_content container">
    <div class="row">
         <div class="col-md-8">
             {% block pagination %}
             {% endblock %}
         </div>
    </div>
</div>
<p></p>