{% extends 'base.html' %}

{% block title%}Blog post detail{% endblock %}

{% block nav-below-content %}{% include 'blog/base.html' %}
    {% endblock %}
    {% block content %}
    <blog_default class="blog_default">
    <div class="blog_post">
        {% if post.published_date %}
            <div class="blog_date">
                {{ post.published_date }}
            </div>
        <p></p>
        {% endif %}
        <h1 class="blog_h1"> {{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
        <a class="blog_btn blog_edit-icon" href="{% url 'blog:post_edit' pk=post.pk %}">✏ &nbsp Edit Post</a>
        {% endif %}
    </div>
</blog_default>
{% endblock %}
