body {
    weight: 100%;
    height: 100%;
    margin: 0%;
   /*  border-top : 10px solid #ccc;*/
}

container, navbar navbar-expand-lg navbar-light bg-light {
    width: 100%;
    margin: 0%;
}

title {
    color: #c80;
    font-weight: bold;
}

.home_page {
    background-color:#EAEAEA;
    background-size: cover;
    height:500px;
}

.home_h1 {
   color:black;
   text-align: center;
   padding-top: 50px;
   font-family: 'Song Myung', serif;
}

